// Заголовки, общие БЄМ блоки и проче...
.title-22 {
	font-weight: 600;
	text-align: center;
	line-height: 110%;
	@include adaptiveValue("font-size", 30, 22, $containerWidth, $minWidth, 1);
}
.title-18 {
	font-weight: 600;
	text-align: center;
	line-height: 110%;
	@include adaptiveValue("font-size", 26, 18, $containerWidth, $minWidth, 1);
}
.text-18 {
	font-weight: 500;
	text-align: center;
	line-height: 110%;
	@include adaptiveValue("font-size", 26, 18, $containerWidth, $minWidth, 1);
}
.text-14 {
	text-align: center;
	line-height: 130%;
	@include adaptiveValue("font-size", 18, 14, $containerWidth, $minWidth, 1);
}
//========================================================================================================================================================
.button {
	cursor: pointer;
	font-weight: 500;
	background-color: rgba(255, 255, 255, .15);
	padding: 10px 15px;
	border: 1px solid rgba(255, 255, 255, .4);
	transition: all .3s ease 0s;
	&:active {
		background-color: rgba(255, 255, 255, .30);
	}
	@media (any-hover: hover){
		&:hover{
			background-color: rgba(255, 255, 255, .30);
		} 
	}
	&._tab-active {
		background-color: rgba(255, 255, 255, .30);
	}
}

//Стилизация скроллбара
body::-webkit-scrollbar {
	width: 8px;               /* ширина scrollbar */
 }
 body::-webkit-scrollbar-track {
	background: #545D6A url(../img/main/pattern4.svg) 0 0 repeat;
 }
 body::-webkit-scrollbar-thumb {
	background-color: #545D6A;    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 1px solid rgba(255, 255, 255, 0.3);  /* padding вокруг плашки */
 }