.wrapper {
	background: #545D6A url(../img/main/pattern4.svg) 0 0 repeat;
}
.page {
	display: flex;
	flex-direction: column;
}
.main {
		&__title {
			p{
				@include adaptiveValue("margin-top", 25, 10, $containerWidth, $minWidth, 1);
			}
		}
		&__section {
			flex: 1 1 auto;
		}
		&__body {
			margin-top: 20px;
			margin-bottom: 30px;
		}
		&__groups {
			text-align: center;
			display: flex;
			flex-direction: column;
			@include adaptiveValue("margin-top", 35, 20, $containerWidth, $minWidth, 1);
		}
		&__groups-item {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10, $containerWidth, $minWidth, 1);
			}
		}
}
